<h2>Stranded on desert island, each day you search one beach.</h2>

<a href="/beach?location=west">Search West Beach</a>

<a href="/beach?location=east">Search East Beach</a>

<a href="/beach?location=north">Search North Beach</a>

<a href="/beach?location=south">Search South Beach</a>